@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #716864;
  border-radius: 10px;
}
